<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Task Manager</h1>
    <p><%= message %></p>
    <% data.forEach((obj, index) => { %>
      <li><%= data[index].id %></li>
      <li><%= data[index].title %></li>
      <li><%= data[index].description %></li>
      <a href="tasks/<%= data[index].id %>"><button>Info</button></a>
      <br><br>
    <% }); %>
</body>
</html>